# Ambientes Virtuais
.venv/
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de dependências (se você gerar)
*.egg-info/
dist/
build/

# Arquivos de ambiente com senhas ou segredos
.env


# Ignora todos os arquivos Excel e CSV
*.xlsx
*.csv